[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
watchdog = "*"
v = {editable = true,version = "*"}

[packages]
flask = "*"
python-dotenv = "*"
uwsgi = "*"
redis = "*"

[requires]
python_version = "3.7"
